<style>
.portal_list_main{
	margin:20px auto;
	width:980px;
}
.portal_list_main .dran{
	height:71px;
	width:286px;
	margin:30px auto;
	
	}
.portal_list_main ul li {
    float: left;
    padding: 10px 0px;
    width: 465px;
    overflow: hidden;
    margin-right: 15px;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    margin-bottom: 20px;
}
.portal_list_main ul li .z {
    width: 120px;
    text-align: center;
}
.z {
    float: left;
}
a {
    color: #333;
    text-decoration: none;
}
.portal_list_main ul li .z img {
    width: 100px;
    max-height: 150px;
    vertical-align: middle;
}
.portal_list_main ul li .y {
    width: 340px;
}
.y {
    float: right;
}
.portal_list_main ul li .y div {
    overflow: hidden;
    background: url('{HEJIN_PATH}public/allimg/portal_list_main_li_div.jpg') no-repeat scroll left bottom transparent;
    margin-bottom: 10px;
    height: 40px;
    line-height: 35px;
    font-size: 18px;
}
.portal_list_main ul li .y div a {
    text-decoration: none;
}
.portal_list_main ul li .y pre {
    height: 60px;
    overflow: hidden;
}
</style>

<div class="portal_list_main cl">


<div class="dran"><a href="http://bbs.weixinhj.com/jiaocheng/hejin_hongbao.htm" target="_blank"><img src="{HEJIN_PATH}public/hejin/jiaocheng.jpg" alt=""></a></div>
        <ul>


<li>
    <div class="z">
        <a href="http://addon.discuz.com/?@hejin_helps.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/hejin_helps.jpg" alt=""></a>
                            </div>
                    <div class="y">
                        <div><a href="http://addon.discuz.com/?@hejin_helps.plugin" target="_blank">{lang hejin_hongbao:helps}</a></div>
<pre>{lang hejin_hongbao:helpsinfo}</pre>
                        <p style="margin-top:10px;">
                            <a href="http://addon.discuz.com/?@hejin_helps.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/view.jpg"></a>
                        </p>
                    </div>
                </li>

<li>
    <div class="z">
        <a href="http://addon.discuz.com/?@hejin_vote.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/hejin_vote.jpg" alt=""></a>
                            </div>
                    <div class="y">
                        <div><a href="http://addon.discuz.com/?@hejin_vote.plugin" target="_blank">{lang hejin_hongbao:vote}</a></div>
<pre>{lang hejin_hongbao:voteinfo}</pre>
                        <p style="margin-top:10px;">
                            <a href="http://addon.discuz.com/?@hejin_vote.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/view.jpg"></a>
                        </p>
                    </div>
                </li>


<li>
    <div class="z">
        <a href="http://addon.discuz.com/?@hejin_share.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/hejin_share.jpg" alt=""></a>
                            </div>
                    <div class="y">
                        <div><a href="http://addon.discuz.com/?@hejin_share.plugin" target="_blank">{lang hejin_hongbao:share}</a></div>
<pre>{lang hejin_hongbao:shareinfo}</pre>
                        <p style="margin-top:10px;">
                            <a href="http://addon.discuz.com/?@hejin_share.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/view.jpg"></a>
                        </p>
                    </div>
                </li>


<li>
    <div class="z">
        <a href="http://addon.discuz.com/?@hejin_allyx.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/hejin_allyx.jpg" alt=""></a>
                            </div>
                    <div class="y">
                        <div><a href="http://addon.discuz.com/?@hejin_allyx.plugin" target="_blank">{lang hejin_hongbao:allyx}</a></div>
<pre>{lang hejin_hongbao:allyxinfo}</pre>
                        <p style="margin-top:10px;">
                            <a href="http://addon.discuz.com/?@hejin_allyx.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/view.jpg"></a>
                        </p>
                    </div>
                </li>

            


<li>
    <div class="z">
        <a href="http://addon.discuz.com/?@hejin_test.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/hejin_test.jpg" alt=""></a>
                            </div>
                    <div class="y">
                        <div><a href="http://addon.discuz.com/?@hejin_test.plugin" target="_blank">{lang hejin_hongbao:test}</a></div>
<pre>{lang hejin_hongbao:testinfo}</pre>
                        <p style="margin-top:10px;">
                            <a href="http://addon.discuz.com/?@hejin_test.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/view.jpg"></a>
                        </p>
                    </div>
                </li>

            <li>
    			<div class="z">
       			 <a href="http://addon.discuz.com/?@hejin_zazhi.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/hejin_zazhi.jpg" alt=""></a>
                            </div>
                    <div class="y">
                        <div><a href="http://addon.discuz.com/?@hejin_zazhi.plugin" target="_blank">{lang hejin_hongbao:zazhi}</a></div>
<pre>{lang hejin_hongbao:zazhiinfo}</pre>
                        <p style="margin-top:10px;">
                            <a href="http://addon.discuz.com/?@hejin_zazhi.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/view.jpg"></a>
                        </p>
                    </div>
                </li>

            <li>
    			<div class="z">
       			 <a href="http://addon.discuz.com/?@hejin_pthd.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/hejin_pthd.jpg" alt=""></a>
                            </div>
                    <div class="y">
                        <div><a href="http://addon.discuz.com/?@hejin_pthd.plugin" target="_blank">{lang hejin_hongbao:pthd}</a></div>
<pre>{lang hejin_hongbao:pthdinfo}</pre>
                        <p style="margin-top:10px;">
                            <a href="http://addon.discuz.com/?@hejin_pthd.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/view.jpg"></a>
                        </p>
                    </div>
                </li>

            <li>
    			<div class="z">
       			 <a href="http://addon.discuz.com/?@hejin_pintu.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/hejin_pintu.jpg" alt=""></a>
                            </div>
                    <div class="y">
                        <div><a href="http://addon.discuz.com/?@hejin_pintu.plugin" target="_blank">{lang hejin_hongbao:pintu}</a></div>
<pre>{lang hejin_hongbao:pintuinfo}</pre>
                        <p style="margin-top:10px;">
                            <a href="http://addon.discuz.com/?@hejin_pintu.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/view.jpg"></a>
                        </p>
                    </div>
                </li>
            
<li>
    <div class="z">
        <a href="http://addon.discuz.com/?@hejin_vheka.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/hejin_vheka.jpg" alt=""></a>
                            </div>
                    <div class="y">
                        <div><a href="http://addon.discuz.com/?@hejin_vheka.plugin" target="_blank">{lang hejin_hongbao:vheka}</a></div>
<pre>{lang hejin_hongbao:vhekainfo}</pre>
                        <p style="margin-top:10px;">
                            <a href="http://addon.discuz.com/?@hejin_vheka.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/view.jpg"></a>
                        </p>
                    </div>
                </li>




            <li>
    			<div class="z">
       			 <a href="http://addon.discuz.com/?@hejin_vcard.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/hejin_vcard.jpg" alt=""></a>
                            </div>
                    <div class="y">
                        <div><a href="http://addon.discuz.com/?@hejin_vcard.plugin" target="_blank">{lang hejin_hongbao:vcard}</a></div>
<pre>{lang hejin_hongbao:vcardinfo}</pre>
                        <p style="margin-top:10px;">
                            <a href="http://addon.discuz.com/?@hejin_vcard.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/view.jpg"></a>
                        </p>
                    </div>
                </li>
<li>
    <div class="z">
        <a href="http://addon.discuz.com/?@hejin_daohang.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/hejin_daohang.jpg" alt=""></a>
                            </div>
                    <div class="y">
                        <div><a href="http://addon.discuz.com/?@hejin_daohang.plugin" target="_blank">{lang hejin_hongbao:daohang}</a></div>
<pre>{lang hejin_hongbao:daohanginfo}</pre>
                        <p style="margin-top:10px;">
                            <a href="http://addon.discuz.com/?@hejin_daohang.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/view.jpg"></a>
                        </p>
                    </div>
                </li>
<li>
    			<div class="z">
       			 <a href="http://addon.discuz.com/?@hejin_ceshi.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/hejin_ceshi.jpg" alt=""></a>
                            </div>
                    <div class="y">
                        <div><a href="http://addon.discuz.com/?@hejin_ceshi.plugin" target="_blank">{lang hejin_hongbao:ceshia}</a></div>
<pre>{lang hejin_hongbao:ceshiinfo}</pre>
                        <p style="margin-top:10px;">
                            <a href="http://addon.discuz.com/?@hejin_ceshi.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/view.jpg"></a>
                        </p>
                    </div>
                </li>                
                


            <li>
    			<div class="z">
       			 <a href="http://addon.discuz.com/?@hejin_forms.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/hejin_forms.jpg" alt=""></a>
                            </div>
                    <div class="y">
                        <div><a href="http://addon.discuz.com/?@hejin_forms.plugin" target="_blank">{lang hejin_hongbao:forms}</a></div>
<pre>{lang hejin_hongbao:formsinfo}</pre>
                        <p style="margin-top:10px;">
                            <a href="http://addon.discuz.com/?@hejin_forms.plugin" target="_blank"><img src="{HEJIN_PATH}public/hejin/view.jpg"></a>
                        </p>
                    </div>
                </li>


        </ul>
        <div style="clear:both;"></div>
            </div>